* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  background-color: #3c3a39;
  padding: 20px;
}

.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.my-logo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.hamburger-menu {
  width: 35px;
  filter: invert(100%);
}
