@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&family=Crete+Round&family=Inter:wght@400;700&family=Poppins:wght@200;300;400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-crete-round: "Crete Round";
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-primary: #1c1a19;
  --color-secondary: #ff6b00;
  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

ul li {
  list-style: none;
}

.show-error-message {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--font-poppins);
  color: red;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-show {
  visibility: visible;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.close-menu-width {
  width: 4em;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.mobile-full-height {
  height: 100vh;
}

.menu-style-mobile {
  margin-top: 3.5rem;
  font-family: var(--font-inter);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0;
  margin-right: 4rem;
  color: #fff5e1;
  border-bottom: 1px solid #6f6c6b;
  padding-bottom: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.navbar {
  background-color: #3c3a39;
  padding: 2em;
}

.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.my-logo-wrapper {
  width: 10rem;
}

.my-logo {
  color: var(--color-white);
  font-family: var(--font-roboto);
  font-size: 2em;
  font-weight: 200;
  width: 10rem;
}

.hamburger-menu {
  width: 3.5em;
  filter: invert(100%);
}

.hamburger-menu:hover {
  transform: scale(1.25);
}

.right-menu {
  display: flex;
  justify-content: right;
  width: 80%;
}

.orange-effect {
  transition: color 0.3s;
}

.orange-effect:hover {
  color: var(--color-secondary);
}

.menu-style {
  font-family: var(--font-inter);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: center;
  margin-right: 4rem;
  color: var(--color-white);
  display: none;
}

.headline {
  background-color: var(--color-primary);
  width: 100%;
  height: 60em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.headline-wrapper {
  padding-left: 2rem;
}

.greeting-title {
  color: var(--color-secondary);
  font-size: 5.6em;
  font-family: "Crete Round", serif;
  font-weight: 400;
}

.greeting-description1 {
  color: var(--color-white);
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 2.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.greeting-description2 {
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 1.6em;
  font-style: normal;
  line-height: 1.5em;
  font-weight: 200;
}

.headline-social-media-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.social-media-link li {
  list-style-type: none;
}

.social-media-link {
  margin-right: 1em;
}

.illustration {
  background-image: url("./images/illustration.svg");
  background-repeat: no-repeat;
  background-position: -20px 230px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 2rem 2rem;
  }

  .my-logo-wrapper {
    margin-left: 8rem;
  }

  .hamburger-menu {
    display: none;
  }

  .menu-style {
    display: block;
  }

  .headline {
    justify-content: flex-start;
  }

  .headline-social-media-links {
    flex-direction: column;
    position: absolute;
    bottom: 20rem;
    left: 1.8rem;
  }

  .headline-link-img {
    margin-bottom: 1.3rem;
  }

  .headline-wrapper {
    width: 100%;
    padding-left: 10em;
  }

  .greeting-title {
    font-size: 6.2em;
  }

  .greeting-description1 {
    font-size: 3.2em;
  }

  .greeting-description2 {
    font-size: 2em;
  }

  .illustration {
    background-position: 4.5rem -7.5rem;
    background-size: cover;
  }
}

.works-title {
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #091e42;
  font-size: 40px;
  text-align: center;
  margin-top: 5rem;
}

.works-title-line {
  width: 90%;
  height: 2px;
  background-color: #c7c7c7;
  margin: 50px auto;
}

.works-info {
  margin: 2rem 2rem 0 2rem;
}

.ease-out-effect {
  transition: transform 0.2s ease-out;
}

.ease-out-effect:hover {
  transform: none;
}

@media only screen and (min-width: 768px) {
  .ease-out-effect:hover {
    transform: scale(1.05);
  }

  .works-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .works-title {
    margin: 0;
    font-size: 4rem;
    padding-left: 5rem;
    flex-grow: 1;
  }

  .works-title-line {
    width: 10%;
    margin-left: 2rem;
    margin-right: 6.5rem;
    height: 1px;
    background-color: #212121;
    flex-grow: 1;
  }
}

.works-wrapper {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.work-project-wrapper {
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  margin: 0 auto;
}

.work-project-img {
  width: 100%;
  margin: 0 auto;
}

.work-project-title {
  font-family: var(--font-crete-round);
  color: var(--color-primary);
  font-weight: 400;
  font-size: 3.2rem;
  margin: 4rem 0;
}

.work-project-description {
  font-family: var(--font-inter);
  color: var(--color-primary);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.work-info-tags {
  display: flex;
  list-style-type: none;
  margin: 1rem 0;
}

.work-info-tag {
  font-family: var(--font-inter);
  color: var(--color-primary);
  border: 0.1em solid #8993a4;
  margin: 1rem 0;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.see-work-btn {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
}

.see-work-btn:hover {
  background-color: #fff5e1;
  color: var(--color-secondary);
  outline-color: var(--color-secondary);
  outline-style: solid;
}

.see-work-btn:focus {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.see-work-btn:disabled {
  background-color: var(--color-white);
  color: #5b5957;
}

.other-work-wrapper {
  flex-shrink: 1;
  height: 38.6rem;
  margin: 0.5rem auto;
  display: flex;
  align-items: flex-end;
  background-size: cover;
}

.project1-background-image {
  background-image: url("images/other_project1.png");
}

.project2-background-image {
  background-image: url("images/other_project2.png");
}

.project3-background-image {
  background-image: url("images/other_project3.png");
}

.other-work-title {
  font-family: var(--font-crete-round);
  color: var(--color-white);
  font-weight: 400;
  font-size: 3.2rem;
  margin: 0 0 2rem 2rem;
}

.other-work-description {
  font-family: var(--font-inter);
  color: var(--color-white);
  margin: 0 0 2rem 2rem;
}

.other-work-tags {
  display: flex;
  list-style-type: none;
}

.other-work-tag {
  font-family: var(--font-inter);
  color: var(--color-white);
  margin: 0 1rem 2rem 2rem;
  font-size: 1.5rem;
  background-color: #5c5c69;
  padding: 1rem;
}

.other-work-see-btn {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  width: 100%;
  display: block;
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
  text-decoration: none;
}

.other-work-see-btn:hover {
  background-color: #fff5e1;
  color: var(--color-secondary);
  outline-color: var(--color-secondary);
  outline-style: solid;
}

.other-work-see-btn:focus {
  background-color: var(--color-secondary);
}

.other-work-see-btn:disabled {
  background-color: var(--color-white);
  color: #5b5957;
}

@media only screen and (min-width: 440px) {
  .other-work-wrapper {
    height: 50rem;
  }
}

@media only screen and (min-width: 768px) {
  .works-info {
    margin: 2rem 6rem 0 6rem;
  }

  .work-project-wrapper {
    grid-column: 1 / span 2;
    flex-direction: row;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .works-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  .work-project-img {
    width: 53%;
  }

  .work-project-title {
    font-size: 40px;
    margin-left: 1rem;
  }

  .work-project-text {
    margin-left: 1rem;
  }

  .work-project-description {
    font-size: 18px;
    margin: 0 0 0 20px;
  }

  .work-info-tags {
    margin: 20px 0 0 20px;
  }

  .see-work-btn {
    display: inline-block;
    margin: 20px 0 0 20px;
  }

  .other-work-see-btn {
    display: none;
  }

  .other-work-wrapper {
    height: 45rem;
  }

  .other-work-wrapper:hover .other-work-see-btn {
    display: block;
  }

  .other-work-wrapper:hover .other-work-description {
    visibility: hidden;
  }

  .other-work-wrapper:hover .other-work-title {
    visibility: hidden;
  }

  .other-work-wrapper:hover .other-work-tags {
    visibility: hidden;
  }

  .other-work-wrapper:hover {
    background-image: url("images/newproject .png");
  }
}

@media only screen and (min-width: 1008px) {
  .works-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .work-project-wrapper {
    grid-column: 1 / span 3;
  }
}

@media only screen and (min-width: 1700px) {
  .other-work-wrapper {
    height: 55rem;
  }
}

.about-me-section {
  background-color: var(--color-primary);
  width: 100%;
  position: relative;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 11rem;
  overflow: hidden;
}

.about-me-title {
  color: var(--color-secondary);
  font-family: var(--font-crete-round);
  font-style: normal;
  font-size: 7.2rem;
  padding-top: 4rem;
  margin: 0 0 2rem 2rem;
}

.about-me-description {
  font-family: var(--font-inter);
  color: var(--color-white);
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: 90%;
}

.resume-btn {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 20px 20px;
  width: 156px;
  height: 48px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-btn:hover {
  background-color: #fff5e1;
  color: var(--color-secondary);
  outline-color: var(--color-secondary);
  outline-style: solid;
}

.resume-btn:focus {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.resume-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me-illustration {
  position: absolute;
  right: -100px;
  bottom: 0;
  width: 30rem;
}

@media only screen and (min-width: 768px) {
  .about-me-title {
    font-size: 7.2rem;
  }

  .about-me-description {
    width: 70%;
    line-height: 3.2rem;
    font-size: 2rem;
    font-style: normal;
  }

  .about-me-text-wrapper {
    width: 600px;
    height: 300px;
  }

  .about-me-illustration {
    width: 55%;
    height: 300px;
  }
}

@media only screen and (min-width: 900px) {
  .about-me-text-wrapper {
    width: 70%;
    margin-left: 40px;
  }
}

.skills-section {
  width: 100%;
  background-color: var(--color-primary);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-me-line {
  width: 80%;
  height: 1px;
  margin: 2rem auto;
  background-color: #5c5c69;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  font-family: var(--color-primary);
  font-size: 3.2rem;
  color: var(--color-white);
  list-style-type: none;
  padding-bottom: 2rem;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.skill-title-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 4rem;
}

.skill-title-svg {
  margin-right: 1rem;
}

.skill-title {
  font-family: "Meera Inimai", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.skill {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 3rem;
}

.last-skill-wrapper {
  margin-top: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .skills-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-around;
  }

  .last-skill-wrapper {
    margin-top: 0;
  }

  .skill-wrapper {
    align-items: first baseline;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-top: 0.5px solid lightgray;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.social-media-icon {
  margin-left: 2.1rem;
}

.contact-form input {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid lightgray;
  margin-bottom: 2vh;
  padding: 1.6rem 1.5rem 1.6rem 1.5rem;
}

#name,
#email {
  font-family: var(--font-inter);
  font-size: 1.7rem;
  padding-left: 1rem;
}

#message {
  font-family: var(--font-inter);
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  background-color: #fbf8f7;
  width: 100%;
  height: 9rem;
  border-style: none;
  margin-top: 15px;
}

.input-wrapper textarea::placeholder {
  color: #3c3a39;
}

.footer-text {
  font-family: var(--font-inter);
  color: #262626;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-align: center;
  padding: 50px 25px 58px 23px;
  font-weight: 700;
}

.input-wrapper {
  width: 80%;
}

.form-button {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

.form-button button {
  font-family: var(--font-roboto);
  color: #fff;
  background-color: #ff6b00;
  border: 0;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.form-button button:hover {
  background-color: #fff5e1;
  color: var(--color-secondary);
  outline-color: var(--color-secondary);
  outline-style: solid;
}

textarea:focus,
input:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .contact-form {
    margin-top: 4rem;
  }

  .contact-form-wrapper {
    display: flex;
    justify-content: left;
  }

  .contact-info-left {
    width: 45%;
  }

  .footer-text {
    text-align: left;
    padding-top: 0;
    margin-left: 6rem;
  }

  .contact-info {
    align-items: flex-start;
  }

  .contact-info-right {
    width: 55%;
    text-align: left;
  }

  .form-button {
    justify-content: left;
    padding-left: 0;
  }

  input:hover {
    transform: translateX(1rem);
    border-color: var(--color-secondary);
  }
}
